@import '../mixins';

.heading-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: darkblue;
    #plant-title {
        // background: crimson;
        padding: 5px;
    }
    .new-plant-link {
        // background-color: cadetblue;
        width: 30%;
        margin: 0px 5px;
        button {
            width: 100%;
        }
    }
}

#index-table-div {
    // background: green;
    // padding: 5px;
    border: 8px solid olive;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    table {
        border-spacing: 0px;
        width: 100%;
        text-align: center;
        font-size: 16px;
        border-collapse: collapse;
        background: crimson;
        border: 1px black solid;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
        // border-radius: 5px;
            thead {
                background: #5F000B;
                color: #DFB589;
            tr {
                // background: orange;
                th {
                    border: 1px solid black;
                    // background: yellow;
                    padding: 5px;
                    // border-radius: 5px;
                }
            }
        }
        tbody {
            // background: yellowgreen;
            tr {
                // background: green;

                #plant-image-column {
                    // background: aqua;
                    width: 150px;
                    img {
                        // background: blue;
                        vertical-align: middle;
                    }
                }
                #plant-name-column {
                    // background: blueviolet;
                }
                #plant-sc-name-column {
                    // background: purple;
                    font-style: italic;
                }
                #plant-details-column {
                    // background: brown;
                    width: 10%;
                }
                td {
                    background: #DFB589;
                    border: 1px solid black;
                    font-size: 16px;
                }
            }
        }
    }
}